{% extends 'base.html' %}
{% block title %}
Projects Details
{% endblock title %}
{% block content %}
<main>
    <div>
        <h1>{{ project.name }}</h1>
        <p> {{ project.description }}</p>
        <h2>Tasks</h2>
        <p>
            <a href="{% url 'create_task' %}">Create a new task</a>
        </p>
        {% if project.tasks.all|length > 0 %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
                {% for values in project.tasks.all %}
                <tr>
                    <td>{{ values.name }}</td>
                    <td>{{ values.assignee }}</td>
                    <td>{{ values.start_date }}</td>
                    <td>{{ values.due_date }}</td>
                    <td>{{ values.is_completed|yesno }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>This project has no tasks</p>
        {% endif %}
    </div>
</main>
{% endblock content %}
